
@rendermode InteractiveServer
<p>This is an Interactive Server-rendered counter:</p>
<p>Count: @count</p>
<button class="btn btn-primary" @onclick="Increment">Click me</button>

@code {
    private int count = 0;
    private void Increment() => count++;
}
