
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>imsblazor</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
